﻿@model CartViewModel

@{
    ViewData["Title"] = "Корзина";
    ViewData["returnUrl"] = Model.ReturnUrl;
}

@section Scripts {
    <script src="~/dist/cart.js"></script>
}

<div>
    <h3>Корзина</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div id="CartItemsContainer">
        <table id="CartItems">
            <thead>
                <tr>
                    <th>Тип</th>
                    <th>Описание</th>
                    <th>Время</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.CartItems.Count; ++i)
                {
                    CartItemModel cartItem = Model.CartItems[i];
                    <tr id="CartItemRow-@cartItem.Ticket.Id">
                        <td>@cartItem.Ticket.Type.Name</td>
                        <td>@cartItem.Ticket.Description</td>
                        <td>@cartItem.Ticket.EventTime</td>
                        <td>
                            <form>
                                <input asp-for="CartItems[i].Quantity" class="ticket-quantity" data-price="@cartItem.Ticket.Price" data-ticketid="@cartItem.Ticket.Id"
                                    data-val-range="@("Количество билетов должно быть в диапазоне от 1 до " + @cartItem.Ticket.Quantity)" data-val-range-min="1" data-val-range-max="@cartItem.Ticket.Quantity"/>
                                <span asp-validation-for="CartItems[i].Quantity" class="text-danger"></span>
                            </form>
                        </td>
                        <td class="ticket-amount">@cartItem.Amount</td>
                        <td>
                            <form asp-action="RemoveItem">
                                <input asp-for="ReturnUrl" type="hidden" />
                                <input type="hidden" name="ticketId" value="@cartItem.Ticket.Id" />
                                <input type="submit" value="Удалить" class="waves-effect waves-light btn" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Order" asp-action="Checkout" class="waves-effect waves-light btn">Подтвердить заказ</a>
        <a href="@Model.ReturnUrl" class="waves-effect waves-light btn">Назад</a>
    </div>
</div>