﻿/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.ticketColumns {
    display: flex;
}

.ticketHeaderColumn {
    
}

.ticket {
    border: 1px solid black;
}

.loginContainer {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 100px;
}

.registerContainer {
    width: 50%;
    margin-left: 20px;
}

.pages-container {
    float: left;
}

.items-per-page-container {
    float: right;
}

.pagination-container a {
    margin-right: 8px;
    border-right: 1px solid black;
}

.main-content-container {
    margin-left: 300px;
}

.left-menu-container {
    float: left;
    width: 300px;
}

#CartItems .ticket-quantity {
    width: 100px;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}