﻿@model ProfileViewModel

@{
    ViewData["Title"] = "Профиль";
}

<div>
    <h3>Профиль</h3>
    <div>
        <table class="striped">
            <tbody>
                <tr>
                    <td>Логин:</td>
                    <td>@Model.ProfileInfo.UserName</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.ProfileInfo.Email</td>
                </tr>
                <tr>
                    <td>Имя:</td>
                    <td>@Model.ProfileInfo.Name</td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td>@Model.ProfileInfo.FirstName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
