﻿@model TicketEditViewModel

@{
    ViewData["Title"] = "Edit";
    IEnumerable<SelectListItem> ticketTypesSelectList = 
        Model.TicketTypes.ConvertToSelectListItems(Model.Ticket?.Type.Value, elem => elem.Id, elem => elem.Name);
}

<h2>Edit</h2>

<h4>Ticket</h4>
<hr />
<div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.Description" class="control-label"></label>   
                <input asp-for="Ticket.Description" readonly="@(!Model.CanEdit)" class="form-control" />
                <span asp-validation-for="Ticket.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Type.Value" class="control-label"></label>
                <select asp-for="Ticket.Type.Value" asp-items="@ticketTypesSelectList" disabled="@(!Model.CanEdit)" name="TypeId" class="browser-default"></select>
                <span asp-validation-for="Ticket.Type.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Price" class="control-label"></label>
                <input asp-for="Ticket.Price" readonly="@(!Model.CanEdit)" class="form-control" />
                <span asp-validation-for="Ticket.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Quantity" class="control-label"></label>
                <input asp-for="Ticket.Quantity" readonly="@(!Model.CanEdit)" class="form-control" />
                <span asp-validation-for="Ticket.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.EventTime" class="control-label"></label>
                <input asp-for="Ticket.EventTime" readonly="@(!Model.CanEdit)" class="form-control" />
                <span asp-validation-for="Ticket.EventTime" class="text-danger"></span>
            </div>
            <input asp-for="Ticket.Id" type="hidden" class="form-control" />
            <div class="form-group">
                @if (Model.CanEdit)
                {
                    <input type="submit" value="Сохранить" class="btn btn-default"/>
                }
                <a asp-action="Index" class="waves-effect waves-light btn">Назад</a>
            </div>
        </form>
    </div>
</div>

