﻿@using System.Runtime.InteropServices.ComTypes
@model TicketsViewModel

@{
    ViewData["Title"] = "Билеты";
    ViewData["returnUrl"] = Model.ReturnUrlToHome;
    Dictionary<string, object> routeValues = new Dictionary<string, object>
    {
        ["Description"] = Model.TicketIndexModel.Description,
        ["EventTimeFor"] = Model.TicketIndexModel.EventTimeFor,
        ["EventTimeTo"] = Model.TicketIndexModel.EventTimeTo,
        ["PriceFor"] = Model.TicketIndexModel.PriceFor,
        ["PriceTo"] = Model.TicketIndexModel.PriceTo,
        ["QuantityFor"] = Model.TicketIndexModel.QuantityFor,
        ["QuantityTo"] = Model.TicketIndexModel.QuantityTo,
        ["TypeId"] = Model.TicketIndexModel.TypeId
    };

    List<SelectListItem> typesSelectListItems = new List<SelectListItem>
    {
        new SelectListItem { Value = "", Text = "Выберите тип", Selected = true }
    };
    typesSelectListItems.AddRange(Model.TicketTypes.ConvertToSelectListItems(Model.TicketIndexModel?.TypeId, elem => elem.Id, elem => elem.Name));

}

<div id="MainContainer">
    <div id="LeftMenuContainer" class="left-menu-container">
        <div id="CategoryListContainer">
            <div class="collection">
                @foreach (TicketTypeModel ticketType in Model.TicketTypes)
                {
                    string activeClass = ticketType.Id == Model.TicketIndexModel?.TypeId ? "active" : null;
                    <a asp-action="Index" asp-route-typeId="@ticketType.Id" asp-route-count="@Model.SelectedItemsPerPage" class="collection-item @activeClass">@ticketType.Name</a>
                }
            </div>
        </div>
        <div id="SearchContainer">
            <form asp-action="Index" method="get">
                <input asp-for="TicketIndexModel.Count" type="hidden" />
                <div class="form-group">
                    <label asp-for="TicketIndexModel.TypeId" class="control-label"></label>
                    <select asp-for="TicketIndexModel.TypeId" asp-items="@typesSelectListItems" class="form-control browser-default"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TicketIndexModel.Description" class="control-label">Описание</label>
                    <input asp-for="TicketIndexModel.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TicketIndexModel.PriceFor" class="control-label"></label>
                    <input asp-for="TicketIndexModel.PriceFor" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TicketIndexModel.PriceTo" class="control-label"></label>
                    <input asp-for="TicketIndexModel.PriceTo" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TicketIndexModel.QuantityFor" class="control-label"></label>
                    <input asp-for="TicketIndexModel.QuantityFor" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TicketIndexModel.QuantityTo" class="control-label"></label>
                    <input asp-for="TicketIndexModel.QuantityTo" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TicketIndexModel.EventTimeFor" class="control-label"></label>
                    <input asp-for="TicketIndexModel.EventTimeFor" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TicketIndexModel.EventTimeTo" class="control-label"></label>
                    <input asp-for="TicketIndexModel.EventTimeTo" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Поиск" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div id="MainContentContainer" class="main-content-container">
        <div id="HeaderContainer">
            @if (Model.CanEditTickets)
            {
                <a class="waves-effect waves-light btn" asp-controller="Ticket" asp-action="Edit" asp-route-id="@Guid.Empty">Добавить билет</a>
            }
        </div>
        <div id="ContentContainer">
            <div id="TicketsContainer">
                <div id="TicketsContentWrapContainer"></div>
                <div id="TicketsContentContainer" class="collection">
                    <div id="TicketsHeaderContainer" class="ticketColumns collection-item">
                        <div style="width: 50%" class="ticketHeaderColumn">Описание</div>
                        <div style="width: 25%" class="ticketHeaderColumn">Цена</div>
                        <div style="width: 25%" class="ticketHeaderColumn">Количество</div>
                    </div>
                    <div id="TicketsListContainer">
                        @foreach (TicketModel ticket in Model.Tickets)
                        {
                            await Html.RenderPartialAsync("Ticket", new TicketViewModel
                            {
                                Ticket = ticket,
                                CanEdit = Model.CanEditTickets,
                                ReturnUrl = Model.ReturnUrlToHome
                            });
                        }
                    </div>
                </div>
                <div id="PaginationContainer" class="pagination-container">
                    <div pagination-data="@Model.PaginationData" page-action="Index" route-values="@routeValues" class="pages-container"></div>
                    <div class="items-per-page-container">
                        <div style="float: left">Количество записей на странице:&nbsp;</div>
                        <div items-per-pages="@Model.ItemsPerPages" action="Index" route-values="@routeValues" style="float: left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>