﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li><a asp-controller="Ticket" asp-action="Index">Главная</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="dropdown-button" href="#" data-activates="UserMenuDropdown" data-beloworigin="true">@User.Identity.Name</a>

                                <ul id="UserMenuDropdown" class="dropdown-content">
                                    <li><a asp-controller="Profile" asp-action="Index">Профиль</a></li>
                                    <li id="LogoutButton"><span>Выход</span></li>
                                </ul>
                                <form asp-action="Logout" asp-controller="Account" id="LogoutFrom"></form>
                            </li>
                            <li>
                                <a asp-controller="Cart" asp-action="Index" asp-route-returnUrl="@ViewData["returnUrl"]">Корзина</a>
                            </li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Login">Войти</a></li>
                            <li><a asp-controller="Account" asp-action="Registration">Регистрация</a></li>
                        }
                    }
                </ul>
            </div>
        </nav>
        <div id="BodyContainer" class="body-container">
            @RenderBody()
        </div>
    </div>
    
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @RenderSection("Scripts", required: false)
</body>
</html>
