﻿@model TicketViewModel

@{
    string id = Model.Ticket.Id.ToString();
    string ticketContainerId = "TicketContainer-" + id;
    string ticketInfoContainerId = "TicketInfoContainer-" + id;
    string ticketActionsContainerId = "TicketActionsContainer-" + id;
    string quantity = Model.Ticket.Quantity > 0 ? Model.Ticket.Quantity.ToString() : "Нет в наличии";

    <div id="@ticketContainerId" class="collection-item">
        <div id="@ticketInfoContainerId" class="ticketColumns">
            <div style="width:50%">@Model.Ticket.Description</div>
            <div style="width:25%">@Model.Ticket.Price</div>
            <div style="width:25%">@quantity</div>
        </div>
        <div id="@ticketActionsContainerId">
            <form asp-controller="Cart" asp-action="AddItem">
                <a class="waves-effect waves-light btn" asp-controller="Ticket" asp-action="Edit" asp-route-id="@id" asp-route-returnUrl="@Model.ReturnUrl">Просмотр</a>
                @if (Model.CanEdit)
                {
                    <a class="waves-effect waves-light btn" asp-controller="Ticket" asp-action="Delete" asp-route-id="@id" asp-route-returnUrl="@Model.ReturnUrl">Удалить</a>
                }
                @if (Model.Ticket.Quantity > 0)
                {
                    <input type="hidden" asp-for="Ticket.Id" name="ticketId">
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
                    <input type="submit" class="waves-effect waves-light btn" value="В корзину" />
                }
            </form>
            </div>
    </div>
}