﻿@model LoginViewModel

<div id="WrapContainer">
    <div id="LoginContainer" class="loginContainer">
        <form asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginData.Email" class="control-label"></label>
                <input asp-for="LoginData.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LoginData.Password" class="control-label"></label>
                <input asp-for="LoginData.Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Вход" class="btn btn-default" />
                <a asp-action="Registration">Регистрация</a>
            </div>
            <input type="hidden" value="@ViewBag.returnUrl" name="returnUrl" />
        </form>
    </div>
</div>