﻿@model RegisterViewModel

<div id="WrapContainer">
    <div id="RegisterContainer" class="registerContainer">
        <form asp-action="Registration">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label>Регистрация</label>
            <div class="form-group">
                <label asp-for="RegisterData.UserName" class="control-label"></label>
                <input asp-for="RegisterData.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RegisterData.Email" class="control-label"></label>
                <input asp-for="RegisterData.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RegisterData.FirstName" class="control-label"></label>
                <input asp-for="RegisterData.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RegisterData.Name" class="control-label"></label>
                <input asp-for="RegisterData.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RegisterData.Password" class="control-label"></label>
                <input asp-for="RegisterData.Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ок" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
