﻿@model OrderCheckoutViewModel

@{
    ViewData["Title"] = "Подтверждение заказа";
}

<div>
    <h3>Ваш заказ:</h3>
    <div>
        <table>
            <thead>
            <tr>
                <th>Тип</th>
                <th>Описание</th>
                <th>Время</th>
                <th>Количество</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody>
                @foreach (CartItemModel cartItem in Model.CartItems)
                {
                    <tr id="CartItemRow-@cartItem.Ticket.Id">
                        <td>@cartItem.Ticket.Type.Name</td>
                        <td>@cartItem.Ticket.Description</td>
                        <td>@cartItem.Ticket.EventTime</td>
                        <td>@cartItem.Ticket.Quantity</td>
                        <td>@cartItem.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
        
        <form asp-action="Checkout">
            <input type="submit" value="Подтвердить" class="waves-effect waves-light btn"/>
        </form>
    </div>
</div>